[submodule "vendor/CMake-codecov"]
	path = vendor/CMake-codecov
	url = git@github.com:RWTH-HPC/CMake-codecov.git
[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
